*{
    margin: 0;
    padding: 0;
}

body{
    background-color: black;
    background-image: url(./Assets/IMGS/fondo-estrellitas.png);
    background-repeat: none;
    color: ghostwhite;
    font-family: "Monda" , monospace;
    width: 100vw;
    height: auto;
    z-index: -1;
}

header{
 color: black;
 width: auto;
}

.img-header{
    top: 0;
    width: 100%;
  }
  
  .logo-header{
    position: fixed;
    top: 5%;
    left: 65%;
    width: 30%;
    z-index: 2;
    justify-content: flex-end;
  }

  nav{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    color: #ffffff;
    width: 100vw;
    height: 40px;
    margin: 10px;
}

.filtro-orden{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(0, 0, 0);
}

select{
  border-radius: 5px;
  font-size:  14px;
  padding: 2px;
  height: 100%;
  background-color: blanchedalmond;
}

.search-bar{
  background-color: blanchedalmond;
  padding: 2px;
  border-radius: 5px;
}

.input-search{
    border: none;
    border-radius:5px;
    font-size: 16px;
    padding: 2px;
    background-color: blanchedalmond;
    } 

  button{
    border: none;
    cursor: pointer;
    border: 2px solid transparent;
  }

  .lupa-img{
    width: 15px;
    height: 18px;
    background-color: blanchedalmond;
  }

  button:hover{
    border: 2px solid rgb(128, 255, 0);
    border-radius: 5px;
    
  }