*{
    margin: 0;
    padding: 0;
}

body{
    background-color: black;
    background-image: url(./Assets/IMGS/fondo-estrellitas.png);
    background-repeat: none;
    width: 100%;
    height: 800px;
    z-index: -1;
}

.img-header{
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
  }
  
  .logo-header{
    position: fixed;
    top: 5%;
    left: 65%;
    width: 30%;
    z-index: 2;
    justify-content: flex-end;
  }

  nav{
    color: aliceblue;
    display: inline-block;
    z-index: 3;
    padding-top: 100px;
}