*{
    margin: 0;
    padding: 0;
}

body{
    background-color: black;
    background-image: url(./Assets/IMGS/fondoestesi.png);
    background-repeat: none;
    color: ghostwhite;
    font-family: "Monda" , monospace;
    width: 100vw;
    height: auto;
}

header{
 color: black;
 width: 100% auto;
}

.img-header{
    top: 0;
    width: 100%;
  }
  
  .logo-header{
    position: absolute;
    top: 5%;
    left: 65%;
    width: 30%;
    justify-content: flex-end;
  }

  nav{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    color: #ffffff;
    width: 100vw;
    height: 40px;
    margin: 10px;
}

.filtro-orden{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(0, 0, 0);
}

.filtro select{

  border-radius: 5px;
  font-size: 16px;
  padding: 5px;
  background-color: #fff7ea;
}

.filtro option{
  background-color: #fff7ea;
  font-size: 16px; 
}

.search-bar{
  background-color: #fff7ea;
  padding: 2px;
  border-radius: 7px;
}

.input-search{
    border: none;
    border-radius:5px;
    font-size: 16px;
    padding: 2px;
    background-color: #fff7ea;
  } 


  button{
    border: none;
    cursor: pointer;
    border: 2px solid transparent;
  }

  .lupa-img{
    align-items:baseline;
    width: 15px;
    height: 18px;
    background-color: #fff7ea;
  }

  button:hover{
    border: 2px solid hsl(175, 88%, 39%);
    border-radius: 5px;
  }

  .botonprueba{
    background-color: chartreuse;
    width: 30px;
    height: 50px;
  }

  .main-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

  .container{
    width: 80vw;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-basis: 20%;
  }

  .fichasContainer{
    background-color: #4b4b4b;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 199px;
    height: 287px;
    margin: 10%;
    cursor: pointer;
  }

  .imagen-ficha-main{
    border-radius: 8px;
    width: 90%;
  }
  
 .nombreFichaMain{
   margin-top: 2%;
   width: 80%;
   font-size: large;
   text-transform: uppercase;
 }

 .backgroundModal{
   display: none;
   position: fixed;
   z-index: 1;
   padding-top: 100px;
   left: 0;
   top: o;
   width: 100%;
   height: 100%;
   overflow: auto;
   background-color: #4b4b4b85;
 }

 .fichaModal{
   display: flex;
   flex-direction: row;
   background-color: #4b4b4b;
   border-radius: 15px;
   width: 700px;
   height: 350px;
   padding: 25px;
 }

 .infoPersonajeModal{
   display: flex;
   flex-direction: column;
 }

 .imgModal{
   width: 330px;
   height: 330px;
   border-radius: 15px;
   margin-right: 30px;
 }

 .closeModal{
   cursor: pointer;
   float: right;
   font-size: 30px;
   font-weight: bold;
 }

 .episode{
   width: 300px;
   height: 300px;
 }

